$greyLight: #999;
$greyDark: #333;
$white: #fff;

@mixin width{
    width: 100%;
}

@mixin fontParams($weight: null, $size: null){
    font-weight: $weight;
    font-size: $size;
}

@mixin flex($display: flex, $justify: space-between, $align: center){
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

%pointer{
    cursor: pointer;
}

body{
    @include width;
    @include fontParams(300, 15px);
    color: $greyLight;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header_image{
    width: 100px;
}

.header{
    @include width;
    padding: 20px 50px;
    background-color: $greyDark;
    @include flex;
    box-sizing: border-box;
}

.header__icon{
    width: 35px;
    @extend %pointer;
    display: inline-block;
}

.header_imageicon{
    @include width;
}

.banner{
    @include width;
    padding: 40px 0;
    text-align: center;
    background-image: url("../imgs/banner1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    background-position-y: 33%;
    background-position-x: 20%;
}

.banner__header{
    @include width;
    font-weight: 600;
    font-size: 30px;
    margin: 10px;
}

.banner__hook{
    width: 350px;
    margin: 0 auto;
    font-size: 25px;
    opacity: 0.9;
}

.products{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.products__article{
    @extend %pointer;
    text-align: center;
}

.products__image{
    max-width: 200px;
    height: 200px;
    margin-bottom: 15px;
}

.products__header{
    @include fontParams(500, 17px);
    margin-bottom: 5px;
}

.products__hook{
    @include fontParams(300, 15px);
}

.cart{
    width: 300px;
    background-color: $white;
    padding: 25px;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    right: -50%;
    top: 14%;
    box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.30);
}

.cart__header{
    @include width;
    @include fontParams(600, 20px);
    text-align: center;
    padding: 25px 0;
    box-sizing: border-box;
}

.cart__content{
    border-bottom: 1px solid $greyDark;
    @include flex($justify: space-between);
    padding: 15px;
    box-sizing: border-box;
}

.cart__images{
    width: 60px;
}

.cart__item{
    font-weight: 500;
}

.cart__remove{
    width: 20px;
    @extend %pointer;
}

.cart__deleteicon{
    @include width;
}

@media (max-width: 820px){
    header{
        padding: 15px;
    }

    .header__image{
        width: 60px;
    }

    .header__icon{
        width: 30px;
    }

    .products{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .products__image{
        width: 150px;
    }

    .cart{
        width: 400px;
        top: 80px;
    }
}

@media (max-width: 480px){
    .banner{
        padding: 30px 0;
    }
    .banner__header{
        font-size: 10px;
    }
    .banner__hook{
        font-size: 16px;
    }
    .products{
        grid-template-columns: 1fr;
        padding: 10px;
    }
    .products__image{
        @include width;
        max-width: 200px;
        margin-bottom: 10px;
    }
    .product--padding{
        padding: 0 10px;
    }
    .cart{
        @include width;
        box-shadow: none;
    }
    .cart__header{
        padding: 15px 0;
    }
    .cart__content{
        flex-direction: column;
        align-items: center;
    }
    .cart__images{
        width: 100px;
    }
    .cart--margin{
        margin: 0;;
    }
}